[submodule "java"]
	path = java
	url = https://github.com/masagroup/soft.java.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/masagroup/soft.cpp.git
[submodule "go"]
	path = go
	url = https://github.com/masagroup/soft.go.git
[submodule "models"]
	path = models
	url = https://github.com/masagroup/soft.models.git
[submodule "js"]
	path = js
	url = https://github.com/masagroup/soft.js.git
